/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, 
*::before, 
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*header*/
.background-image {
    padding-top: 32px; 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    justify-content: center;
}
.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 auto 36px;
    width: 180px;
}
.site-logo {
    margin-top: 180px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #fff;
    text-decoration: none;
    display: block;
}
.wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.site-login {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.site-login::before {
    content: '';
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 94px;
    height: 40px;
    position: absolute;
    display: block;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.site-login:first-child::before {
    -webkit-transform: translate(-26%, -27%);
        -ms-transform: translate(-26%, -27%);
            transform: translate(-26%, -27%);
}
.site-login:last-child::before {
    -webkit-transform: translate(-22%, -27%);
        -ms-transform: translate(-22%, -27%);
            transform: translate(-22%, -27%);
}
.site-login:hover::before {
    opacity: 1;
}
.promo-header {
    color: #fff;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.promo-description {
    text-align: center;
    color: #fff;
    margin-top: 24px;
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    padding: 0 30px;
}
.find-button {
    border: none;
    color: #ffffff;
    background-color: #ff4e50;
    cursor: pointer;
    width: 280px;
    height: 40px;
    margin: 0 auto;
    line-height: 17px;
    font-weight: 700;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    outline: none;
    display: block;
    border-radius: 20px;
    margin-top: 20px;
}
.find-button:hover {
    background-color: #ffffff;
    color: #ff4e50;
}
/*main*/
.acticle-page {
    margin-top: 74px;
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.partner-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
}
.partner-name {
    line-height: 17px;
    font-weight: bold;
    margin-top: 20px;
}
.partner-occupation {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 17px;
    font-weight: 300;
    color: #666666;
}
.card-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.img-partner {
    border-radius: 50%;
}
.card-item {
    width: 200px;
    text-align: center;
    margin-bottom: 26px;
}
.card-item:last-child {
    margin-bottom: 0;
}
.tv-icon::after {
    content: '';
    position: absolute;
    background-color: #ff4e50;
    background-image: url('../image/icon/tv-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    bottom: 0;
    right: 40px;
}
.cap-icon::after {
    content: '';
    position: absolute;
    background-color: #ffa507;
    background-image: url('../image/icon/cap-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    bottom: 0;
    right: 40px;
}
.flask-icon::after {
    content: '';
    position: absolute;
    background-color: #1cd7ad;
    background-image: url('../image/icon/flask-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    bottom: 0;
    right: 40px;
}
.airplane-icon::after {
    content: '';
    position: absolute;
    background-color: #4e73db;
    background-image: url('../image/icon/airplane-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 4px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: block;
    bottom: 0;
    right: 40px;
}
/*footer*/
.load {
    border: none;
    color: #ff4e50;
    border: 2px solid #ff4e50;
    background-color: #ffffff;
    cursor: pointer;
    width: 280px;
    height: 40px;
    text-align: center;
    line-height: 17px;
    font-weight: 700;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    outline: none;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.load:hover,
.load:focus {
    background: #ff4e50;
    color: #fff;
}
@media (orientation: landscape) {.wrapper-header{width: 140px;} }
@media (orientation: landscape) {
    .navigation {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 480px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 100px;
    }
    .site-logo {
        margin-top: 0px;
    }
    .menu-header {
        padding-top: 20px;
    }
    .text-banner {
        width: 350px;
        margin: 0 auto;
    }
    .card-item {
        padding: 0 4px;
    }
}
@media (max-width:767px) {
    .background-image {
        background-image: url(../image/banner-mobile.png);
        background-position: center top;
        height: 100vh;
    }
}
@media (min-width: 768px) and (max-width:1399px){
    .navigation {
        margin-top: 50px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 660px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 200px;
    }
    .site-logo {
        margin-top: 0px;
    }
    .wrapper-header {
        width: 138px;
    }
    .background-image {
        background-image: -webkit-gradient( linear, left top, left bottom, from(rgb(0, 0, 0, .3)), to(rgb(0, 0, 0, .3))),url(../image/banner-tablet.png);
        background-image: -o-linear-gradient( rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)),url(../image/banner-tablet.png);
        background-image: linear-gradient( rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)),url(../image/banner-tablet.png);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text-banner {
        width: 540px;
        margin: 0 auto;
    }
    .promo-header {
        font-size: 52px;
        line-height: 62px;
        margin-bottom: 46px;
    }
    .promo-description {
        margin-bottom: 38px;
    }
    .find-button {
        width: 226px;
    }
    .acticle-page{
        margin-bottom: 30px;
    }
    .acticle-page {
        padding-top: 70px;
    }
    .partner-list {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .card-item {
        margin-bottom: 58px;
    }
    .card-item:nth-last-of-type(-n+2) {
        margin-bottom: 0;
    }
    .load {
        margin-top: 40px;
        width: 198px;
    }
}
@media (min-width: 1400px) {
    .background-image {
        height: 700px;
        background-image: -webkit-gradient( linear, left top, left bottom, from(rgb(0, 0, 0, .3)), to(rgb(0, 0, 0, .3))),url(../image/banner-desktop.png);
        background-image: -o-linear-gradient( rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)),url(../image/banner-desktop.png);
        background-image: linear-gradient( rgb(0, 0, 0, .3), rgb(0, 0, 0, .3)),url(../image/banner-desktop.png);
    }
    .promo-header {
        margin-top: 0px;
        margin-bottom: 50px;
        font-size: 52px;
        line-height: 62px;
    }
    .text-banner {
        width: 550px;
    }
    .navigation {
        margin-bottom: 160px;
        width: 942px;
    }
    .find-button {
        margin-top: 36px;
    }
    .card-item:nth-last-of-type(-n + 4) {
        margin-bottom: 0;
    }
    .partner-list {
        margin-top: 40px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .load {
        margin-top: 40px;
    }
}